body { height: 100%; font-size: 18px; background: $bg; font-family: $font--montserrat; }

// Heading sizes
h1, h2, h3, h4, h5, h6 { margin: 0; font-weight: bold; font-family: $font--jost;}

h1, h2, h3 {
    text-transform: uppercase;
}

h1 {
    font-size: 100px;
    line-height: 120px;
}

h2 {
    font-size: 72px;
    line-height: 86px;
}

h3 {
    font-size: 64px;
    line-height: 77px;
}

h4 {
    font-size: 48px;
    line-height: 58px;
}

h5 {
    font-size: 32px;
    line-height: 38px;
}

h6 {
    font-size: 24px;
    line-height: 36px;
}

.section {
    &--dark {
        color: $white;
    }

    &--white {
        color: $gray;
        background: $white;
    }
}

.section-heading {
    &__title {
        font-size: 64px;
        line-height: 77px;
    }
}

.section-heading {
    &--inline-justify {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        &--black {
            color: $black;
        }
    }
}
// End titles

.section-bg {
    z-index: z('below-content');
}

.section-container {
    z-index: z('content');
}
// End Layers

// General modules
@import "../general-modules/container.scss";
@import "../general-modules/phone.scss";
@import "../general-modules/menu.scss";
@import "../general-modules/hamburger.scss";
@import "../general-modules/lang.scss";
@import "../general-modules/scroll-status.scss";
@import "../general-modules/btn-df.scss";

// General sections
@import "../general-sections/header.scss";