// Heading sizes
h1, h2, h3, h4, h5, h6 { margin: 0; font-weight: bold; font-family: $font--jost;}

h1 {
    font-size: 100px;
    line-height: 120px;
}

h2 {
    font-size: 72px;
    line-height: 86px;
}

h3 {
    font-size: 64px;
    line-height: 77px;
}

h4 {
    font-size: 48px;
    line-height: 58px;
}

h5 {
    font-size: 32px;
    line-height: 38px;
}

h6 {
    font-size: 24px;
    line-height: 36px;
}

body { height: 100%; font-size: 18px; background: $black; }