// Main libs
@import "./libs";
@import "./vars.scss";
@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/general";

html {
  height: 100%;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

p { margin: 0; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

*, *:before, *:after { box-sizing: border-box; }

img, svg {
  max-width: 100%;
}