// Colors
$bg: #111111;
$black: #333333;
$gray: #555555;
$lightGray: #dddddd;
$light: #FBFBFB;
$white: #FFFFFF;
$accent: #E6340D;

// Fonts
$font--jost: 'Jost', sans-serif;
$font--montserrat: 'Montserrat', sans-serif;