section.section.section--white.team-content.team-content--left
    .container.team-content__container
        .team-content__side.team-content__side--content
            h4.team-content__title Иннокентий длиннофамильный
            .team-content__desc
                p Равным образом сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития. Равным образом реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации соответствующий условий активизации. 
                p Задача организации, в особенности же дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Мы создаём:
            .team-content__btn-wr
                a.team-content__btn.btn-df.btn-df--border.btn-df--dark(href="/")
                    span.btn-df__bg
                    span.btn-df__name ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
        //- End content side
        .team-content__side.team-content__side--img
            img.team-content__img(src="/assets/pics/team-content/1.jpg", alt="alt")
        //- End image side
    //- End container
section.section.section--white.team-content.team-content--right
    .container.team-content__container
        .team-content__side.team-content__side--content
            h4.team-content__title Иннокентий длиннофамильный
            .team-content__desc
                p Равным образом сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития. Равным образом реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации соответствующий условий активизации. 
                p Задача организации, в особенности же дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Мы создаём:
            .team-content__btn-wr
                a.team-content__btn.btn-df.btn-df--border.btn-df--dark(href="/")
                    span.btn-df__bg
                    span.btn-df__name ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
        //- End content side
        .team-content__side.team-content__side--img
            img.team-content__img(src="/assets/pics/team-content/2.jpg", alt="alt")
        //- End image side
    //- End container
section.section.section--white.team-content.team-content--left
    .container.team-content__container
        .team-content__side.team-content__side--content
            h4.team-content__title Иннокентий длиннофамильный
            .team-content__desc
                p Равным образом сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития. Равным образом реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации соответствующий условий активизации. 
                p Задача организации, в особенности же дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Мы создаём:
            .team-content__btn-wr
                a.team-content__btn.btn-df.btn-df--border.btn-df--dark(href="/")
                    span.btn-df__bg
                    span.btn-df__name ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
        //- End content side
        .team-content__side.team-content__side--img
            img.team-content__img(src="/assets/pics/team-content/3.jpg", alt="alt")
        //- End image side
    //- End container