section.home-screen.section.section--dark
    .home-screen__bg.home-screen__bg--left
        img.home-screen__bg-img(src="/assets/pics/home-screen/team-page.jpg", alt="alt")
    .container.home-screen__container.home-screen__container--right
        .home-screen__content.home-screen__content--right
            h1.home-screen__title Нашы<br> специалисты
            p.home-screen__desc Качественный дизайн – это дизайн продуманный до мелочей, это удобство и комфорт
        //- End home screen content
    //- End container