footer.footer.section.section--dark.fp-auto-height
    .container
        .footer__row.footer__row--nav
            .footer__title-wr
                h5.footer__title ЖДЕМ ВАС!
            .footer__nav-wr
                ul.footer__menu-list
                    li.menu-item.menu-item-has-children
                        a(href="/") Мастерская
                        ul.sub-menu
                            li.menu-item
                                a(href="/") Главная
                            li.menu-item
                                a(href="/") О нас
                            li.menu-item
                                a(href="/") Команда
                            li.menu-item
                                a(href="/") Цены
                            li.menu-item
                                a(href="/") Блог
                            li.menu-item
                                a(href="/") Контакты
                    li.menu-item.menu-item-has-children
                        a(href="/") Звоните
                        ul.sub-menu
                            li.menu-item
                                a(href="/") +380 93 123 45 67
                            li.menu-item
                                a(href="/") 0 800 123 45 67
                    li.menu-item.menu-item-has-children
                        a(href="/") Пишите
                        ul.sub-menu
                            li.menu-item
                                a(href="/") info@znak.com
                    li.menu-item.menu-item-has-children
                        a(href="/") Приезжайте
                        ul.sub-menu
                            li.menu-item
                                a(href="/") 03035, Украина, Киев<br> ул. Героев Дизайна 14, офис 846
        //- End nav row
        .footer__row.footer__row--copyright
            .footer__logo-wr
                a.footer__logo(href="/")
                    <svg width="152" height="60" viewBox="0 0 152 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 39.8786L5.34859 31.806H35.7313V39.8786H0ZM8.405 27.2651L16.9306 14.4296H26.7432L18.1974 27.2651H8.405ZM2.37269 9.74746V1.6748H35.1482L29.8197 9.74746H2.37269Z" fill="#E6340D"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M39.0693 39.8789V17.4369L47.2532 24.6216V39.8789H39.0693ZM39.0693 11.3824L72.6089 41.0898V1.73562H64.4251V23.0273L39.0693 0.524711V11.3824ZM74.9816 39.8789L88.3332 13.8446L92.8976 22.7851L84.1307 39.8789H74.9816ZM106.732 39.8789H115.881L95.4111 0L90.8064 8.90011L99.3723 25.4894H96.155L92.1335 33.562H103.474L106.772 39.9394L106.732 39.8789ZM117.509 39.8789V1.73562H125.693V39.8587L117.509 39.8789ZM127.141 20.8678L132.148 13.8446L151.25 39.8789H141.196L127.121 20.8678H127.141ZM134.943 10.0101L140.05 16.8718L150.888 1.77596H140.834L134.943 10.0101Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.703857 59.7582V50.2527H2.71463C3.75831 50.2049 4.80306 50.3206 5.81123 50.5958C6.69674 50.8934 7.45534 51.484 7.96276 52.2708C8.49766 53.1212 8.77043 54.1111 8.74693 55.1165C8.76507 55.9979 8.54998 56.8684 8.1236 57.6392C7.75881 58.3187 7.20756 58.8791 6.53513 59.2537C5.67069 59.6434 4.7269 59.8231 3.78033 59.7784L0.703857 59.7582ZM1.60873 58.8501H2.69456C3.60613 58.8919 4.51912 58.8104 5.40905 58.6079C6.09779 58.3964 6.69383 57.9549 7.09815 57.3566C7.51738 56.6945 7.72761 55.9207 7.70135 55.1366C7.72963 54.2995 7.49775 53.4743 7.03783 52.7754C6.59702 52.1263 5.94176 51.6545 5.18789 51.4434C4.23182 51.2271 3.2514 51.1389 2.27225 51.1811H1.60873V58.8501Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5566 50.252H15.9857V51.1803H11.5017V54.147H15.9254V55.0754H11.5017V58.8291H15.9254V59.7575H10.5566V50.252Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.6292 57.921L17.4334 57.4366C17.9965 58.486 18.6667 59.0108 19.4442 59.0108C19.7596 59.0137 20.0706 58.9374 20.3491 58.7888C20.6169 58.6529 20.8401 58.4428 20.9925 58.1833C21.1358 57.9459 21.2123 57.6739 21.2137 57.3963C21.2052 57.0608 21.0927 56.7363 20.892 56.4679C20.4266 55.8795 19.8779 55.3628 19.2633 54.9341C18.7184 54.5638 18.2189 54.1303 17.7753 53.6425C17.4508 53.228 17.2739 52.7165 17.2726 52.1894C17.2697 51.7922 17.3739 51.4017 17.5742 51.0592C17.7701 50.7123 18.0639 50.4314 18.4187 50.2519C18.7757 50.0537 19.177 49.9496 19.585 49.9492C20.0302 49.948 20.4676 50.0665 20.8518 50.2923C21.3469 50.6127 21.7712 51.0317 22.0984 51.5234L21.3142 52.1086C21.0651 51.7393 20.7518 51.418 20.3893 51.1601C20.1402 51.011 19.8548 50.9342 19.5649 50.9381C19.2172 50.9237 18.8778 51.0469 18.6198 51.2812C18.5019 51.3921 18.4088 51.5267 18.3464 51.6763C18.284 51.8258 18.2539 51.9869 18.2579 52.149C18.255 52.3571 18.2961 52.5635 18.3785 52.7545C18.5007 52.9903 18.6642 53.2022 18.8611 53.3801C18.9817 53.5012 19.404 53.8241 20.0877 54.3286C20.737 54.7679 21.3079 55.3137 21.7767 55.9432C22.0671 56.3652 22.2279 56.8633 22.2392 57.3761C22.2405 57.7138 22.1714 58.0481 22.0363 58.3574C21.9013 58.6667 21.7032 58.9443 21.455 59.1722C21.2041 59.4221 20.9057 59.6189 20.5775 59.7506C20.2494 59.8824 19.8982 59.9465 19.5448 59.9391C18.9876 59.9448 18.4413 59.7832 17.9763 59.475C17.4073 59.0754 16.9447 58.5418 16.6292 57.921Z" fill="white"/>
                        <path d="M24.9939 50.252H24.0488V59.7777H24.9939V50.252Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.3345 51.8669L35.5906 52.5733C35.0873 52.0694 34.4938 51.6654 33.8412 51.3825C33.2582 51.1236 32.6288 50.9863 31.9913 50.9789C31.2463 50.9767 30.513 51.1641 29.8599 51.5238C29.2111 51.8686 28.6687 52.3851 28.2915 53.0173C27.9197 53.624 27.7247 54.3231 27.7285 55.0354C27.7419 55.748 27.9431 56.4443 28.3116 57.0536C28.6914 57.6959 29.2413 58.2199 29.9001 58.5672C30.5841 58.943 31.3523 59.1375 32.132 59.1323C33.0276 59.1561 33.9031 58.8632 34.6053 58.3048C35.2694 57.7764 35.7022 57.009 35.8118 56.1656H32.7956V55.2372H36.8172C36.8446 55.8775 36.7429 56.5168 36.5183 57.1167C36.2938 57.7166 35.9508 58.2649 35.5101 58.7286C35.0501 59.1667 34.5067 59.507 33.9123 59.729C33.318 59.9509 32.6851 60.05 32.0516 60.0203C31.2645 60.058 30.4792 59.9159 29.7547 59.6048C29.0302 59.2937 28.3856 58.8216 27.8692 58.2241C27.093 57.338 26.6704 56.1951 26.6829 55.0152C26.6801 54.1279 26.9163 53.2562 27.3665 52.4925C27.8124 51.7266 28.4592 51.0983 29.2365 50.6762C30.0564 50.2279 30.9773 49.9986 31.9109 50.0102C32.6897 50.0096 33.4613 50.1604 34.1831 50.4542C34.9835 50.783 35.7138 51.2625 36.3345 51.8669Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M38.7073 59.7575V50.252H38.9084L45.2021 57.5173V50.252H46.1672V59.7575H45.946L39.6724 52.5527V59.7575H38.7073Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M63.2989 50.252L67.7226 59.7777H66.6971L65.2092 56.6495H61.1876L59.7198 59.7777H58.6541L63.1381 50.252H63.2989ZM63.1783 52.2701L61.4892 55.701H64.7467L63.1783 52.2701Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M69.2307 50.2525H71.1208C71.8402 50.225 72.5605 50.2655 73.2723 50.3736C73.8084 50.4857 74.2907 50.7775 74.6397 51.201C74.998 51.645 75.1837 52.2043 75.1624 52.7752C75.1763 53.2581 75.0506 53.7348 74.8005 54.1476C74.5523 54.5453 74.1869 54.8557 73.7549 55.0356C73.1578 55.26 72.5221 55.3629 71.8849 55.3383L75.3032 59.7581H74.137L70.7187 55.3383H70.1758V59.7581H69.2307V50.2525ZM70.1758 51.1809V54.4099H71.8045C72.2807 54.4336 72.7573 54.3721 73.212 54.2283C73.5027 54.1133 73.7492 53.9083 73.9158 53.643C74.0874 53.379 74.1783 53.0703 74.1772 52.755C74.1792 52.4459 74.088 52.1434 73.9158 51.8872C73.7533 51.6309 73.5139 51.433 73.2321 51.3221C72.7757 51.1872 72.2996 51.1326 71.8246 51.1607L70.1758 51.1809Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M86.0408 52.008L85.2968 52.5932C84.9076 52.0678 84.397 51.6453 83.8088 51.3622C83.2127 51.0762 82.5592 50.9313 81.8986 50.9383C81.1934 50.9478 80.5019 51.1351 79.8878 51.4832C79.2675 51.8293 78.7531 52.3387 78.3999 52.9565C78.0525 53.5716 77.8722 54.2676 77.877 54.9747C77.863 55.5152 77.9612 56.0527 78.1654 56.5531C78.3697 57.0534 78.6755 57.5056 79.0634 57.8808C79.4557 58.2723 79.9243 58.5783 80.4398 58.7797C80.9554 58.9811 81.5067 59.0736 82.0595 59.0514C82.6982 59.0595 83.3305 58.922 83.9087 58.6494C84.4868 58.3767 84.9959 57.9759 85.3974 57.4772L86.1413 58.0423C85.6701 58.6409 85.0635 59.1183 84.3718 59.4348C83.6275 59.7759 82.8174 59.9482 81.9992 59.9394C81.2474 59.9906 80.4939 59.868 79.7967 59.5811C79.0995 59.2942 78.4772 58.8506 77.9776 58.2845C77.1721 57.3426 76.7423 56.1349 76.7711 54.894C76.7595 54.2384 76.884 53.5877 77.1367 52.9831C77.3895 52.3785 77.7648 51.8333 78.239 51.3823C78.7219 50.9092 79.2948 50.5384 79.9236 50.2923C80.5523 50.0461 81.224 49.9295 81.8986 49.9495C82.7257 49.9377 83.5445 50.1172 84.2914 50.4742C84.9936 50.8299 85.5952 51.3574 86.0408 52.008Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M87.9309 50.252H88.876V54.2277H93.7018V50.252H94.667V59.7575H93.7018V55.1561H88.876V59.7575H87.9309V50.252Z" fill="white"/>
                        <path d="M97.7837 50.252H96.8386V59.7777H97.7837V50.252Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M99.0103 51.1803V50.252H104.198V51.1803H102.087V59.7575H101.122V51.1803H99.0103Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M105.585 50.252H111.015V51.1803H106.531V54.147H110.974V55.0754H106.531V58.8291H110.974V59.7575H105.585V50.252Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M121.47 52.008L120.726 52.5932C120.337 52.0678 119.827 51.6453 119.239 51.3622C118.642 51.0762 117.989 50.9313 117.328 50.9383C116.623 50.9478 115.932 51.1351 115.317 51.4832C114.697 51.8293 114.183 52.3387 113.83 52.9565C113.482 53.5716 113.302 54.2676 113.307 54.9747C113.293 55.5152 113.391 56.0527 113.595 56.5531C113.799 57.0534 114.105 57.5056 114.493 57.8808C114.885 58.2723 115.354 58.5783 115.87 58.7797C116.385 58.9811 116.936 59.0736 117.489 59.0514C118.128 59.0595 118.76 58.922 119.338 58.6494C119.917 58.3767 120.426 57.9759 120.827 57.4772L121.571 58.0423C121.1 58.6409 120.493 59.1183 119.802 59.4348C119.057 59.7759 118.247 59.9482 117.429 59.9394C116.677 59.9906 115.924 59.868 115.226 59.5811C114.529 59.2942 113.907 58.8506 113.407 58.2845C112.602 57.3426 112.172 56.1349 112.201 54.894C112.188 54.2382 112.312 53.5871 112.565 52.9823C112.818 52.3776 113.194 51.8326 113.669 51.3823C114.152 50.9092 114.725 50.5384 115.353 50.2923C115.982 50.0461 116.654 49.9295 117.328 49.9495C118.155 49.9377 118.974 50.1172 119.721 50.4742C120.423 50.8299 121.025 51.3574 121.47 52.008Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M122.456 51.1803V50.252H127.644V51.1803H125.532V59.7575H124.567V51.1803H122.456Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M129.031 50.252H129.976V55.9028C129.953 56.3263 129.953 56.7508 129.976 57.1743C130.002 57.5126 130.113 57.8388 130.298 58.1228C130.502 58.3944 130.772 58.6096 131.082 58.7484C131.42 58.9172 131.791 59.0069 132.168 59.0108C132.481 59.0116 132.79 58.9427 133.073 58.809C133.354 58.6791 133.602 58.4857 133.797 58.2439C133.998 57.9885 134.142 57.6925 134.219 57.3761C134.271 56.8796 134.271 56.3791 134.219 55.8826V50.252H135.164V55.9028C135.182 56.5837 135.1 57.2636 134.923 57.921C134.743 58.4693 134.399 58.9485 133.937 59.2933C133.418 59.6902 132.78 59.8967 132.128 59.8786C131.418 59.9087 130.715 59.7184 130.117 59.3337C129.588 58.9968 129.196 58.4816 129.011 57.8806C128.862 57.2189 128.801 56.5402 128.83 55.8624L129.031 50.252Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M137.698 50.2525H139.588C140.307 50.225 141.027 50.2655 141.739 50.3736C142.275 50.4857 142.757 50.7775 143.106 51.201C143.465 51.645 143.651 52.2043 143.629 52.7752C143.643 53.2581 143.517 53.7348 143.267 54.1476C143.019 54.5453 142.654 54.8557 142.222 55.0356C141.625 55.26 140.989 55.3629 140.352 55.3383L143.77 59.7581H142.604L139.186 55.3383H138.643V59.7581H137.698V50.2525ZM138.643 51.1809V54.4099H140.271C140.747 54.4336 141.224 54.3721 141.679 54.2283C141.97 54.1133 142.216 53.9083 142.383 53.643C142.554 53.379 142.645 53.0703 142.644 52.755C142.646 52.4459 142.555 52.1434 142.383 51.8872C142.22 51.6309 141.981 51.433 141.699 51.3221C141.243 51.1872 140.766 51.1326 140.291 51.1607L138.643 51.1809Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M145.68 50.252H151.109V51.1803H146.625V54.147H151.069V55.0754H146.625V58.8291H151.069V59.7575H145.68V50.252Z" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0">
                        <rect width="151.25" height="60" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
            .footer__copyright-wr
                ul.footer__social.social
                    li.social__item
                        a.social__link(href="/" target="_blank")
                            <svg class="social__icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.0001 2.71997C8.66675 2.71997 2.66675 8.70664 2.66675 16.08C2.66675 22.7466 7.54675 28.28 13.9201 29.28V19.9466H10.5334V16.08H13.9201V13.1333C13.9201 9.78664 15.9067 7.94664 18.9601 7.94664C20.4134 7.94664 21.9334 8.19997 21.9334 8.19997V11.4933H20.2534C18.6001 11.4933 18.0801 12.52 18.0801 13.5733V16.08H21.7867L21.1867 19.9466H18.0801V29.28C21.222 28.7838 24.083 27.1807 26.1467 24.7601C28.2103 22.3394 29.3405 19.2608 29.3334 16.08C29.3334 8.70664 23.3334 2.71997 16.0001 2.71997Z" fill="#DDDDDD"/>
                            </svg>
                    li.social__item
                        a.social__link(href="/" target="_blank")
                            <svg class="social__icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.3334 20L20.2534 16L13.3334 12V20ZM28.7467 9.56002C28.9201 10.1867 29.0401 11.0267 29.1201 12.0934C29.2134 13.16 29.2534 14.08 29.2534 14.88L29.3334 16C29.3334 18.92 29.1201 21.0667 28.7467 22.44C28.4134 23.64 27.6401 24.4134 26.4401 24.7467C25.8134 24.92 24.6667 25.04 22.9067 25.12C21.1734 25.2134 19.5867 25.2534 18.1201 25.2534L16.0001 25.3334C10.4134 25.3334 6.93341 25.12 5.56008 24.7467C4.36008 24.4134 3.58675 23.64 3.25341 22.44C3.08008 21.8134 2.96008 20.9734 2.88008 19.9067C2.78675 18.84 2.74675 17.92 2.74675 17.12L2.66675 16C2.66675 13.08 2.88008 10.9334 3.25341 9.56002C3.58675 8.36002 4.36008 7.58669 5.56008 7.25335C6.18675 7.08002 7.33342 6.96002 9.09342 6.88002C10.8267 6.78669 12.4134 6.74669 13.8801 6.74669L16.0001 6.66669C21.5867 6.66669 25.0667 6.88002 26.4401 7.25335C27.6401 7.58669 28.4134 8.36002 28.7467 9.56002Z" fill="#DDDDDD"/>
                            </svg>
                    li.social__item
                        a.social__link(href="/" target="_blank")
                            <svg class="social__icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.4001 2.66669H21.6001C25.8668 2.66669 29.3334 6.13335 29.3334 10.4V21.6C29.3334 23.651 28.5187 25.618 27.0684 27.0683C25.6181 28.5186 23.6511 29.3334 21.6001 29.3334H10.4001C6.13341 29.3334 2.66675 25.8667 2.66675 21.6V10.4C2.66675 8.34901 3.48151 6.38201 4.93179 4.93173C6.38207 3.48145 8.34907 2.66669 10.4001 2.66669ZM10.1334 5.33335C8.86038 5.33335 7.63948 5.83907 6.7393 6.73924C5.83913 7.63942 5.33341 8.86031 5.33341 10.1334V21.8667C5.33341 24.52 7.48008 26.6667 10.1334 26.6667H21.8667C23.1398 26.6667 24.3607 26.161 25.2609 25.2608C26.161 24.3606 26.6667 23.1397 26.6667 21.8667V10.1334C26.6667 7.48002 24.5201 5.33335 21.8667 5.33335H10.1334ZM23.0001 7.33335C23.4421 7.33335 23.866 7.50895 24.1786 7.82151C24.4912 8.13407 24.6667 8.55799 24.6667 9.00002C24.6667 9.44205 24.4912 9.86597 24.1786 10.1785C23.866 10.4911 23.4421 10.6667 23.0001 10.6667C22.5581 10.6667 22.1341 10.4911 21.8216 10.1785C21.509 9.86597 21.3334 9.44205 21.3334 9.00002C21.3334 8.55799 21.509 8.13407 21.8216 7.82151C22.1341 7.50895 22.5581 7.33335 23.0001 7.33335ZM16.0001 9.33335C17.7682 9.33335 19.4639 10.0357 20.7141 11.286C21.9644 12.5362 22.6667 14.2319 22.6667 16C22.6667 17.7681 21.9644 19.4638 20.7141 20.7141C19.4639 21.9643 17.7682 22.6667 16.0001 22.6667C14.232 22.6667 12.5363 21.9643 11.286 20.7141C10.0358 19.4638 9.33342 17.7681 9.33342 16C9.33342 14.2319 10.0358 12.5362 11.286 11.286C12.5363 10.0357 14.232 9.33335 16.0001 9.33335ZM16.0001 12C14.9392 12 13.9218 12.4214 13.1717 13.1716C12.4215 13.9217 12.0001 14.9392 12.0001 16C12.0001 17.0609 12.4215 18.0783 13.1717 18.8284C13.9218 19.5786 14.9392 20 16.0001 20C17.0609 20 18.0784 19.5786 18.8285 18.8284C19.5787 18.0783 20.0001 17.0609 20.0001 16C20.0001 14.9392 19.5787 13.9217 18.8285 13.1716C18.0784 12.4214 17.0609 12 16.0001 12Z" fill="#DDDDDD"/>
                            </svg>
                //- End social
                .footer__copyright © 2020. Мастерская дизайна и архитектуры ZNAK.
        //- End copyright row
    //- End container