.request-form.section.section--dark
    .container
        .section-heading.section-heading--centered 
            h2.section-heading__title.section-heading__title--white.section-heading__title--xl Остались вопросы?

        form#requestForm.request-form__form(action="/" method="post")
            label.request-form__field.field.field--material-to-right
                input#requestName.field__input(placeholder="Имя" require)
                span.field__label-wrap
                    span.field__label Имя
            label.request-form__field.field.field--material-to-right
                input#requestPhone.field__input(placeholder="+380636036363" require)
                span.field__label-wrap
                    span.field__label Телефон
            button#requestSend.request-form__btn.btn-df.btn-df--border.btn-df--white(type="submit")
                span.btn-df__bg
                span.btn-df__name ОТПРАВИТЬ
        //- End form
    //- End container