section.portfolio.section.section--dark
    .container 
        .section-heading.section-heading--inline-justify
            h2.section-heading__title ПОРтфолио

            a.btn-df.btn-df--border.btn-df--white(href="/")
                span.btn-df__bg
                span.btn-df__name СМОТРЕТЬ ВСЕ работы
        //- End heading

        .portfolio__tabs
            button.acquaintance__tab-item.tab.tab--active.tab--portfolio(data-tab='0')
                span.tab__line
                span.tab__name РЕСТОРАНЫ
            //- End item
            button.acquaintance__tab-item.tab.tab--portfolio(data-tab='1')
                span.tab__line
                span.tab__name ОФИСЫ
            //- End item
            button.acquaintance__tab-item.tab.tab--portfolio(data-tab='2')
                span.tab__line
                span.tab__name ДОМА
            //- End item
            button.acquaintance__tab-item.tab.tab--portfolio(data-tab='3')
                span.tab__line
                span.tab__name АРХИТЕКТУРА
            //- End item
        //- End portfolio tabs
    //- End container

    .container.portfolio__items-wr-container
        .portfolio__items-wr.swiper-container#portfolioSlider
            .portfolio__swiper-wrapper.swiper-wrapper
                a.portfolio__swiper-slide.swiper-slide.item.item--portfolio(href="/")
                    .item__image-wrapper
                        img.item__img(src="/assets/pics/portfolio-items/1.jpg", alt="alt")
                    h4.item__title Ресторан Park Land
                    span.item__desc Ресторан, площадь 180 м2
                //- End slide
                a.portfolio__swiper-slide.swiper-slide.item.item--portfolio(href="/")
                    .item__image-wrapper
                        img.item__img(src="/assets/pics/portfolio-items/2.jpg", alt="alt")
                    h4.item__title Ресторан Park Land
                    span.item__desc Ресторан, площадь 180 м2
                //- End slide
                a.portfolio__swiper-slide.swiper-slide.item.item--portfolio(href="/")
                    .item__image-wrapper
                        img.item__img(src="/assets/pics/portfolio-items/3.jpg", alt="alt")
                    h4.item__title Офис комбании “ИБИС”
                    span.item__desc Офис, площадь 400 м2
                //- End slide
                a.portfolio__swiper-slide.swiper-slide.item.item--portfolio(href="/")
                    .item__image-wrapper
                        img.item__img(src="/assets/pics/portfolio-items/4.jpg", alt="alt")
                    h4.item__title Ресторан FOG FACTORY
                    span.item__desc Ресторан, площадь 180 м2
                //- End slide
            //- End swiper wrapper
        //- End swiper container
    //- End container