section.portfolio.section.section--dark
    .container 
        .section-heading.section-heading--inline-justify
            h2.section-heading__title ПОРтфолио

            a.btn-df.btn-df--border.btn-df--white(href="/")
                span.btn-df__bg
                span.btn-df__name СМОТРЕТЬ ВСЕ работы
        //- End heading

        .portfolio__tabs
            button.acquaintance__tab-item.tab.tab--active.tab--portfolio(data-tab='0')
                span.tab__line
                span.tab__name РЕСТОРАНЫ
            //- End item
            button.acquaintance__tab-item.tab.tab--portfolio(data-tab='1')
                span.tab__line
                span.tab__name ОФИСЫ
            //- End item
            button.acquaintance__tab-item.tab.tab--portfolio(data-tab='2')
                span.tab__line
                span.tab__name ДОМА
            //- End item
            button.acquaintance__tab-item.tab.tab--portfolio(data-tab='3')
                span.tab__line
                span.tab__name АРХИТЕКТУРА
            //- End item
        //- End portfolio tabs
    //- End container