.section.section--dark.fp-auto-height
.section.section--dark.portfolio-posts
    .container.portfolio-posts__heading-container
        .section-heading.section-heading--inline-justify
            h2.section-heading__title ПОРтфолио

            a.btn-df.btn-df--border.btn-df--white(href="/")
                span.btn-df__bg
                span.btn-df__name СМОТРЕТЬ ВСЕ работы
        //- End heading

        .portfolio-posts__tabs
            button.acquaintance__tab-item.tab.tab--active.tab--portfolio(data-tab='0')
                span.tab__line
                span.tab__name РЕСТОРАНЫ
            //- End item
            button.acquaintance__tab-item.tab.tab--portfolio(data-tab='1')
                span.tab__line
                span.tab__name ОФИСЫ
            //- End item
            button.acquaintance__tab-item.tab.tab--portfolio(data-tab='2')
                span.tab__line
                span.tab__name ДОМА
            //- End item
            button.acquaintance__tab-item.tab.tab--portfolio(data-tab='3')
                span.tab__line
                span.tab__name АРХИТЕКТУРА
            //- End item
        //- End portfolio tabs
    //- End container

    .container.portfolio-posts__container
        a.portfolio-posts__item.item.item--portfolio(href="/")
            .item__image-wrapper
                img.item__img(src="/assets/pics/portfolio-items/1.jpg", alt="alt")
                .item__whatter-word
                    .item__whatter-word-diagonal.item__whatter-word-diagonal--first
                    .item__whatter-word-diagonal.item__whatter-word-diagonal--second
            h4.item__title Ресторан Park Land
            span.item__desc Ресторан, площадь 180 м2
        //- End slide
        a.portfolio-posts__item.item.item--portfolio(href="/")
            .item__image-wrapper
                img.item__img(src="/assets/pics/portfolio-items/2.jpg", alt="alt")
                .item__whatter-word
                    .item__whatter-word-diagonal.item__whatter-word-diagonal--first
                    .item__whatter-word-diagonal.item__whatter-word-diagonal--second
            h4.item__title Ресторан Park Land
            span.item__desc Ресторан, площадь 180 м2
        //- End slide
        a.portfolio-posts__item.item.item--portfolio(href="/")
            .item__image-wrapper
                img.item__img(src="/assets/pics/portfolio-items/3.jpg", alt="alt")
                .item__whatter-word
                    .item__whatter-word-diagonal.item__whatter-word-diagonal--first
                    .item__whatter-word-diagonal.item__whatter-word-diagonal--second
            h4.item__title Офис комбании “ИБИС”
            span.item__desc Офис, площадь 400 м2
        //- End slide
        a.portfolio-posts__item.item.item--portfolio(href="/")
            .item__image-wrapper
                img.item__img(src="/assets/pics/portfolio-items/1.jpg", alt="alt")
                .item__whatter-word
                    .item__whatter-word-diagonal.item__whatter-word-diagonal--first
                    .item__whatter-word-diagonal.item__whatter-word-diagonal--second
            h4.item__title Ресторан Park Land
            span.item__desc Ресторан, площадь 180 м2
        //- End slide
        a.portfolio-posts__item.item.item--portfolio(href="/")
            .item__image-wrapper
                img.item__img(src="/assets/pics/portfolio-items/2.jpg", alt="alt")
                .item__whatter-word
                    .item__whatter-word-diagonal.item__whatter-word-diagonal--first
                    .item__whatter-word-diagonal.item__whatter-word-diagonal--second
            h4.item__title Ресторан Park Land
            span.item__desc Ресторан, площадь 180 м2
        //- End slide
        a.portfolio-posts__item.item.item--portfolio(href="/")
            .item__image-wrapper
                img.item__img(src="/assets/pics/portfolio-items/3.jpg", alt="alt")
                .item__whatter-word
                    .item__whatter-word-diagonal.item__whatter-word-diagonal--first
                    .item__whatter-word-diagonal.item__whatter-word-diagonal--second
            h4.item__title Офис комбании “ИБИС”
            span.item__desc Офис, площадь 400 м2
        //- End slide
        a.portfolio-posts__item.item.item--portfolio(href="/")
            .item__image-wrapper
                img.item__img(src="/assets/pics/portfolio-items/1.jpg", alt="alt")
                .item__whatter-word
                    .item__whatter-word-diagonal.item__whatter-word-diagonal--first
                    .item__whatter-word-diagonal.item__whatter-word-diagonal--second
            h4.item__title Ресторан Park Land
            span.item__desc Ресторан, площадь 180 м2
        //- End slide
        a.portfolio-posts__item.item.item--portfolio(href="/")
            .item__image-wrapper
                img.item__img(src="/assets/pics/portfolio-items/2.jpg", alt="alt")
                .item__whatter-word
                    .item__whatter-word-diagonal.item__whatter-word-diagonal--first
                    .item__whatter-word-diagonal.item__whatter-word-diagonal--second
            h4.item__title Ресторан Park Land
            span.item__desc Ресторан, площадь 180 м2
        //- End slide
        a.portfolio-posts__item.item.item--portfolio(href="/")
            .item__image-wrapper
                img.item__img(src="/assets/pics/portfolio-items/3.jpg", alt="alt")
                .item__whatter-word
                    .item__whatter-word-diagonal.item__whatter-word-diagonal--first
                    .item__whatter-word-diagonal.item__whatter-word-diagonal--second
            h4.item__title Офис комбании “ИБИС”
            span.item__desc Офис, площадь 400 м2
        //- End slide
    //- End posts container

    .container.portfolio-posts__btn-wr
        a.btn-df.btn-df--border.btn-df--white(href="/")
            span.btn-df__bg
            span.btn-df__name ПОКАЗАТЬ ЕЩЁ
    //- End btn container