extends template/main

block variables
	- var title = 'Znak'

block content
	include ./sections/about/home-screen
	include ./sections/about/mission
	include ./sections/all/portfolio
	include ./general-sections/request-form
	include ./general-sections/footer