extends template/main

block variables
	- var title = 'Znak'

block content
	include ./sections/home/home-screen
	include ./sections/home/acquaintance
	include ./sections/all/portfolio
	include ./sections/home/why-us