extends template/main

block variables
	- var title = 'Znak'

block content
	include ./sections/home/home-screen
	include ./sections/home/acquaintance
	include ./sections/all/portfolio
	include ./sections/home/why-us
	include ./sections/home/your-object
	include ./sections/home/vizualization
	include ./sections/home/design-project
	include ./sections/home/clients-and-reviews