extends template/main

block variables
	- var title = 'Znak'

block content
	//- +scroll-status('01', '06', 'top')
	include ./sections/home/home-screen
	include ./sections/home/acquaintance
	include ./sections/all/portfolio