extends template/main

block variables
	- var title = 'Znak - Single news'

block content
	include ./sections/single-news/home-screen
	include ./sections/single-news/content
	include ./sections/all/portfolio
	include ./sections/home/why-us
	include ./sections/home/your-object
	include ./sections/home/vizualization
	include ./sections/home/design-project
	include ./sections/home/clients-and-reviews
	include ./general-sections/request-form
	include ./general-sections/footer