extends template/main

block variables
	- var title = 'Znak - Single news'

block content
	include ./sections/single-news/home-screen
	include ./sections/single-news/content
	include ./sections/single-news/read-also
	include ./sections/all/subscribe
	include ./general-sections/footer