.nav {
    &__list {
        display: flex;
        gap: 70px;
    }

    .menu-item {
        a {
            color: $white;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            text-transform: uppercase;
            @include df-transition;

            &:hover {
                color: $accent;
            }
        }
    }
}
