.clients {
    padding-right: 130px;

    &__items {
        margin-top: 80px;
        display: flex;
        gap: 40px 85px;
        flex-wrap: wrap;
    }

    &__item {
        width: 120px;
        height: 120px;
    }

    &__logo {
        filter: grayscale(100%);
        @include df-transition;
    }
}

// Item hover
.clients__item:hover {
    .clients__logo {
        filter: grayscale(0%);
    }
}
// End item hover