.home-screen {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    &__bg {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 74%;
        z-index: z('below-content');

        &::before, &::after {
            @include pseudo;
            top: 0;
            left: 0;
        }

        &::before {
            left: -2px;
            height: 100%;
            width: 340px;
            background: linear-gradient(90deg, #111111 0%, rgba(17, 17, 17, 0) 100%);
        }

        &::after {
            width: 100%;
            height: 152px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
        }
    }

    &__bg-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        position: relative;
        z-index: z('content');
        padding-left: 110px;
        max-width: 1460px;

        p {
            margin-top: 20px;
            max-width: 705px;
            font-size: 24px;
            line-height: 36px;
        }
    }

    &__cat {
        margin-top: 30px;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #cccccc;
    }
    
    &__social {
        position: absolute;
        left: 15px;
        bottom: 40px;
        z-index: z('content');
    }
    
    &__btns {
        margin-top: 70px;
        display: flex;
        gap: 20px;
    }
    
    &__content--md {
        p {
            font-size: 18px;
            line-height: 27px;
            max-width: 770px;
        }
    }

    &__container--right {
        align-items: flex-end;
        padding-left: 0;
        padding-right: 80px;
    }

    &__content--right {
        text-align: right;

        p {
            margin-left: auto;
        }
    }

    &__bg--left {
        right: auto;
        left: 0;

        &::before {
            left: auto;
            right: -2px;
            background: linear-gradient(90deg, rgba(17, 17, 17, 0) 0%, #111111 100%);
        }
    }
}