.acquaintance {
    &__container {
        display: flex;
        justify-content: flex-end;
    }
    
    &__inner {
        flex-basis: 50%;
    }

    &__heading {
        margin-bottom: 60px;
    }

    &__content-item {
        display: none;
        max-width: 630px;
        font-size: 18px;
        line-height: 27px;
        color: $lightGray;

        p {
            margin-top: 15px;
        }

        &--active {
            display: block;
        }
    }
    // End content

    &__tabs {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 60px 20px;
    }
    // End tabs
}