section.section.section--white.news-content
    .container.news-content__container
        p Мы весь год держали тебя в курсе значимых новинок архитектуры, на основе этого выбрали студию года, а теперь самое время выделить лучшие объекты в мире архитектуры 2020 года.
        p Общественный центр Дарлинг по проекту Кенго Кумы стал дебютом именитого японского архитектора на Зеленом континенте. Получилось шестиэтажное здание спиральной формы, которое визуально смахивает на гнездо из хвороста, деликатес с медовой паутинкой или моток ниток.
        img(src="/assets/pics/news-content/1-big.jpg", alt="alt")
        p Мы весь год держали тебя в курсе значимых новинок архитектуры, на основе этого выбрали студию года, а теперь самое время выделить лучшие объекты в мире архитектуры 2020 года.
        p Общественный центр Дарлинг по проекту Кенго Кумы стал дебютом именитого японского архитектора на Зеленом континенте. Получилось шестиэтажное здание спиральной формы, которое визуально смахивает на гнездо из хвороста, деликатес с медовой паутинкой или моток ниток.
        .news-content__images.news-content__images--three
            img(src="/assets/pics/news-content/1-small.jpg", alt="alt")
            img(src="/assets/pics/news-content/2-small.jpg", alt="alt")
            img(src="/assets/pics/news-content/3-small.jpg", alt="alt")
        //- End images
        p По проекту норвежского архитектурного бюро Snøhetta в норвежском городе Порсгрунн завершено строительство здания с положительным энергобалансом.
        img(src="/assets/pics/news-content/2-big.jpg", alt="alt")
        h4 Жилой небоскреб в Сингапуре
        p В 2020 году был окончательно завершен 20-этажный жилой небоскреб в Сингапуре по проекту Heatherwick Studio, который был спроектирован как противовес распространенным стеклянным и стальным башням. Сделано это было умышленно, ведь именно Сингапур успел себя зарекомендовать тропическим мегаполисом, «городом-садом».
        ul
            li Жилой дом под названием EDEN, высотой 104,5 метра, в районе Ньютон в Сингапуре состоит из вертикального ряда апартаментов, каждый из которых имеет свой сад.
            li Дом моды Louis Vuitton открыл новый четырехуровневый флагманский магазин на бульваре Микосудзи в Осаке
            li Новый Louis Vuitton Maison Osaka Midosuji находится на оживленной торговой улице Синсайбаши-Суджи.
        img(src="/assets/pics/news-content/3-big.jpg", alt="alt")
        p В 2020 году был окончательно завершен 20-этажный жилой небоскреб в Сингапуре по проекту Heatherwick Studio, который был спроектирован как противовес распространенным стеклянным и стальным башням. Сделано это было умышленно, ведь именно Сингапур успел себя зарекомендовать тропическим мегаполисом, «городом-садом».
    //- End container
    .container
        .border-block.news-content__quote.double-quotes
            <svg class="double-quotes__quote double-quotes__quote--open" width="49" height="41" viewBox="0 0 49 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.0668 20.2355C16.9884 21.029 18.4733 22.3075 19.5214 24.071C20.6569 25.7462 21.2246 27.7742 21.2246 30.1548C21.2246 33.329 20.2201 35.9301 18.2112 37.9581C16.2023 39.986 13.713 41 10.7433 41C7.59893 41 5.02228 39.986 3.01337 37.9581C1.00446 35.9301 0 33.329 0 30.1548C0 28.5677 0.174688 27.0247 0.524065 25.5258C0.960785 24.0269 1.74688 21.7785 2.88235 18.7806L9.8262 0H20.3075L15.0668 20.2355ZM42.8422 20.2355C44.7638 21.029 46.2487 22.3075 47.2968 24.071C48.4323 25.7462 49 27.7742 49 30.1548C49 33.329 47.9955 35.9301 45.9866 37.9581C43.9777 39.986 41.4884 41 38.5187 41C35.3743 41 32.7977 39.986 30.7888 37.9581C28.7799 35.9301 27.7754 33.329 27.7754 30.1548C27.7754 28.5677 27.9501 27.0247 28.2995 25.5258C28.7362 24.0269 29.5223 21.7785 30.6578 18.7806L37.6016 0H48.0829L42.8422 20.2355Z" fill="#E6340D"/>
            </svg>
            <svg class="double-quotes__quote double-quotes__quote--close" width="49" height="41" viewBox="0 0 49 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M33.9332 20.7645C32.0116 19.971 30.5267 18.6925 29.4786 16.929C28.3431 15.2538 27.7754 13.2258 27.7754 10.8452C27.7754 7.67097 28.7799 5.06989 30.7888 3.04193C32.7977 1.01398 35.287 0 38.2567 0C41.4011 0 43.9777 1.01398 45.9866 3.04193C47.9955 5.06989 49 7.67097 49 10.8452C49 12.4323 48.8253 13.9753 48.4759 15.4742C48.0392 16.9731 47.2531 19.2215 46.1176 22.2194L39.1738 41H28.6925L33.9332 20.7645ZM6.15775 20.7645C4.23618 19.971 2.75134 18.6925 1.70321 16.929C0.567734 15.2538 -3.8147e-06 13.2258 -3.8147e-06 10.8452C-3.8147e-06 7.67097 1.00446 5.06989 3.01337 3.04193C5.02228 1.01398 7.51159 0 10.4813 0C13.6257 0 16.2023 1.01398 18.2112 3.04193C20.2201 5.06989 21.2246 7.67097 21.2246 10.8452C21.2246 12.4323 21.0499 13.9753 20.7005 15.4742C20.2638 16.9731 19.4777 19.2215 18.3422 22.2194L11.3984 41H0.917118L6.15775 20.7645Z" fill="#E6340D"/>
            </svg>
            .double-quotes__content Здание очень грамотно спроектировано, с учетом сложных климатических условий, где среднегодовая температура выше 35 градусов по Цельсию в тени. Именно поэтому здесь отлично реализована система затенения  и естественной вентиляции.
            .double-quotes__brand
                <svg class="double-quotes__brand-line" width="73" height="73" viewBox="0 0 73 73" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect y="71" width="100" height="2" transform="rotate(-45 0 71)" fill="#E6340D"/>
                </svg>
                span.double-quotes__brand-name LOUIS VITON
            //- End content
        //- End double quotes block
    //- End container
    .container.news-content__container
        p По проекту известного архитектурного бюро Sanjay Puri Architects реализован важный для индийской местности Раджастхана социальный объект. Им удалось спроектировать трехуровневую школу с открытыми, закрытыми и полузакрытыми пространствами различного объема, умело вписав ее в ландшафт индийских деревень и старых городов, находящихся рядом.

        .news-content__share.share-block
            span.share-block__title Поделиться:
            .share-block__buttons
                a.share-block__btn.btn-df.btn-df--border.btn-df--dark(href="/")
                    span.btn-df__bg
                    span.btn-df__name FACEBOOK
                a.share-block__btn.btn-df.btn-df--border.btn-df--dark(href="/")
                    span.btn-df__bg
                    span.btn-df__name TWITTER
                a.share-block__btn.btn-df.btn-df--border.btn-df--dark(href="/")
                    span.btn-df__bg
                    span.btn-df__name INSTAGRAM
        //- End share block
    //- End container