section.acquaintance.section.section--dark
    .section-bg.section-bg--left
        img.section-bg__img(src="/assets/pics/acquaintance/bg.jpg", alt="alt")
        .section-bg__gradient
    +scroll-status('02', '06', 'middle')
    .container.section-container.acquaintance__container
        .acquaintance__inner
            .section-heading.acquaintance__heading
                h2.sectoin-headin__title ZNAKомство
            //- End heading

            .acquaintance__content
                .acquaintance__content-item.acquaintance__content-item--active#acquaintance-0
                    p Равным образом сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития. Равным образом реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации соответствующий условий активизации. 
                    p Задача организации, в особенности же дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Мы создаём:
                .acquaintance__content-item#acquaintance-1
                    p Равным образом сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития. Равным образом реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
                .acquaintance__content-item#acquaintance-2
                    p Равным образом сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития. Равным образом реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации соответствующий условий активизации. 
                    p Задача организации, в особенности же дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Мы создаём:
                .acquaintance__content-item#acquaintance-3
                    p Равным образом сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития. Равным образом реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации соответствующий условий активизации. 
                    p Задача организации, в особенности же дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Мы создаём:
                .acquaintance__content-item#acquaintance-4
                    p Равным образом сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития. Равным образом реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации соответствующий условий активизации. 
                    p Задача организации, в особенности же дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Мы создаём:
                //- End content item
            //- End content
        

            .acquaintance__tabs
                - var tabs = ['ОФИСЫ', 'Дома', 'КВАРТИРЫ', 'КОТЕДЖИ']
                
                .acquaintance__tab-wr
                        button.acquaintance__tab-item.tab.tab--active.tab--acquaintance(data-tab='0')
                            span.tab__line
                            span.tab__name РЕСТОРАНЫ
                each tab, index in tabs
                    .acquaintance__tab-wr
                        button.acquaintance__tab-item.tab.tab--acquaintance(data-tab=`${index + 1}`)
                            span.tab__line
                            span.tab__name= tab
                    //- End item
                //- End loop
            //- End tabs
        //- End inner
    //- End container