div.section.section--white
    .container.container--flex
        section.container__side--two-equal.clients
            .section-heading
                h2.section-heading__title.section-heading__title--black КЛИЕНТЫ
            //- End heading

            .clients__items
                .clients__item
                    img.clients__logo(src="/assets/pics/clients/1.png", alt="alt")
                .clients__item
                    img.clients__logo(src="/assets/pics/clients/2.png", alt="alt")
                .clients__item
                    img.clients__logo(src="/assets/pics/clients/3.png", alt="alt")
                .clients__item
                    img.clients__logo(src="/assets/pics/clients/1.png", alt="alt")
                .clients__item
                    img.clients__logo(src="/assets/pics/clients/2.png", alt="alt")
                .clients__item
                    img.clients__logo(src="/assets/pics/clients/3.png", alt="alt")
                .clients__item
                    img.clients__logo(src="/assets/pics/clients/1.png", alt="alt")
                .clients__item
                    img.clients__logo(src="/assets/pics/clients/2.png", alt="alt")
                .clients__item
                    img.clients__logo(src="/assets/pics/clients/3.png", alt="alt")
                .clients__item
                    img.clients__logo(src="/assets/pics/clients/1.png", alt="alt")
                button.clients__more-btn.btn-more(type="button")
                    | СМОТРЕТЬ ЕЩЁ
                    | <svg class="btn-more__arrow" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 12H19" stroke="#333333" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/><path d="M12 5L19 12L12 19" stroke="#333333" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/></svg>
            //- End items wrapper
        //- End clients
        section.container__side--two-equal.reviews
            .section-heading
                h2.section-heading__title.section-heading__title--black Отзывы
            //- End heading
        //- End reviews
    //- End contianer