section.section.section--dark.design-project
    .section-bg.section-bg--right
        img.section-bg__img(src="/assets/pics/design-project/bg.jpg", alt="alt")
        .section-bg__gradient
    .container
        .design-project__content
            .section-heading
                h2.section-heading__title ДИЗАЙН Проект
            //- End heading
            
            .design-project__desc
                p Закажите дизайн проект у нас и получите комплексое решение всех проблем связаных с обустройством будущего интерьера!

            .design-project__btns
                a.design-project__btn.btn-df.btn-df--white.btn-df--border(href="/")
                    span.btn-df__bg
                    span.btn-df__name ЗАКАЗАТЬ ПРОЕКТ
                a.design-project__btn.btn-df.btn-df--transparent.btn-df--border(href="/")
                    span.btn-df__bg
                    span.btn-df__name ЗАКАЗАТЬ ПРОЕКТ
        //- End content block
    //- End container