section.home-screen.section.section--dark
    .home-screen__bg
        img.home-screen__bg-img(src="/assets/pics/home-screen/home-page.jpg", alt="alt")
    .container.home-screen__container
        +scroll-status('01', '06', 'top')
        .home-screen__content
            h1.home-screen__title Мастерская дизайна и архитектуры
            p.home-screen__desc Качественный дизайн – это дизайн продуманный до мелочей, это удобство и комфорт
        //- End home screen content

        ul.home-screen__social.social
            li.social__item
                a.social__link(href="/" target="_blank")
                    <svg class="social__icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.0001 2.71997C8.66675 2.71997 2.66675 8.70664 2.66675 16.08C2.66675 22.7466 7.54675 28.28 13.9201 29.28V19.9466H10.5334V16.08H13.9201V13.1333C13.9201 9.78664 15.9067 7.94664 18.9601 7.94664C20.4134 7.94664 21.9334 8.19997 21.9334 8.19997V11.4933H20.2534C18.6001 11.4933 18.0801 12.52 18.0801 13.5733V16.08H21.7867L21.1867 19.9466H18.0801V29.28C21.222 28.7838 24.083 27.1807 26.1467 24.7601C28.2103 22.3394 29.3405 19.2608 29.3334 16.08C29.3334 8.70664 23.3334 2.71997 16.0001 2.71997Z" fill="#DDDDDD"/>
                    </svg>
            li.social__item
                a.social__link(href="/" target="_blank")
                    <svg class="social__icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.3334 20L20.2534 16L13.3334 12V20ZM28.7467 9.56002C28.9201 10.1867 29.0401 11.0267 29.1201 12.0934C29.2134 13.16 29.2534 14.08 29.2534 14.88L29.3334 16C29.3334 18.92 29.1201 21.0667 28.7467 22.44C28.4134 23.64 27.6401 24.4134 26.4401 24.7467C25.8134 24.92 24.6667 25.04 22.9067 25.12C21.1734 25.2134 19.5867 25.2534 18.1201 25.2534L16.0001 25.3334C10.4134 25.3334 6.93341 25.12 5.56008 24.7467C4.36008 24.4134 3.58675 23.64 3.25341 22.44C3.08008 21.8134 2.96008 20.9734 2.88008 19.9067C2.78675 18.84 2.74675 17.92 2.74675 17.12L2.66675 16C2.66675 13.08 2.88008 10.9334 3.25341 9.56002C3.58675 8.36002 4.36008 7.58669 5.56008 7.25335C6.18675 7.08002 7.33342 6.96002 9.09342 6.88002C10.8267 6.78669 12.4134 6.74669 13.8801 6.74669L16.0001 6.66669C21.5867 6.66669 25.0667 6.88002 26.4401 7.25335C27.6401 7.58669 28.4134 8.36002 28.7467 9.56002Z" fill="#DDDDDD"/>
                    </svg>
            li.social__item
                a.social__link(href="/" target="_blank")
                    <svg class="social__icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.4001 2.66669H21.6001C25.8668 2.66669 29.3334 6.13335 29.3334 10.4V21.6C29.3334 23.651 28.5187 25.618 27.0684 27.0683C25.6181 28.5186 23.6511 29.3334 21.6001 29.3334H10.4001C6.13341 29.3334 2.66675 25.8667 2.66675 21.6V10.4C2.66675 8.34901 3.48151 6.38201 4.93179 4.93173C6.38207 3.48145 8.34907 2.66669 10.4001 2.66669ZM10.1334 5.33335C8.86038 5.33335 7.63948 5.83907 6.7393 6.73924C5.83913 7.63942 5.33341 8.86031 5.33341 10.1334V21.8667C5.33341 24.52 7.48008 26.6667 10.1334 26.6667H21.8667C23.1398 26.6667 24.3607 26.161 25.2609 25.2608C26.161 24.3606 26.6667 23.1397 26.6667 21.8667V10.1334C26.6667 7.48002 24.5201 5.33335 21.8667 5.33335H10.1334ZM23.0001 7.33335C23.4421 7.33335 23.866 7.50895 24.1786 7.82151C24.4912 8.13407 24.6667 8.55799 24.6667 9.00002C24.6667 9.44205 24.4912 9.86597 24.1786 10.1785C23.866 10.4911 23.4421 10.6667 23.0001 10.6667C22.5581 10.6667 22.1341 10.4911 21.8216 10.1785C21.509 9.86597 21.3334 9.44205 21.3334 9.00002C21.3334 8.55799 21.509 8.13407 21.8216 7.82151C22.1341 7.50895 22.5581 7.33335 23.0001 7.33335ZM16.0001 9.33335C17.7682 9.33335 19.4639 10.0357 20.7141 11.286C21.9644 12.5362 22.6667 14.2319 22.6667 16C22.6667 17.7681 21.9644 19.4638 20.7141 20.7141C19.4639 21.9643 17.7682 22.6667 16.0001 22.6667C14.232 22.6667 12.5363 21.9643 11.286 20.7141C10.0358 19.4638 9.33342 17.7681 9.33342 16C9.33342 14.2319 10.0358 12.5362 11.286 11.286C12.5363 10.0357 14.232 9.33335 16.0001 9.33335ZM16.0001 12C14.9392 12 13.9218 12.4214 13.1717 13.1716C12.4215 13.9217 12.0001 14.9392 12.0001 16C12.0001 17.0609 12.4215 18.0783 13.1717 18.8284C13.9218 19.5786 14.9392 20 16.0001 20C17.0609 20 18.0784 19.5786 18.8285 18.8284C19.5787 18.0783 20.0001 17.0609 20.0001 16C20.0001 14.9392 19.5787 13.9217 18.8285 13.1716C18.0784 12.4214 17.0609 12 16.0001 12Z" fill="#DDDDDD"/>
                    </svg>
        //- End social
    //- End container