section.section.section--white
    .container
        .section-heading.section-heading--inline-justify
            .section-heading__wrapper
                h2.section-heading__title.section-heading__title--black Почему мы?
                p.section-heading__desc Мы верим, что красота рождает красоту

            a.btn-df.btn-df--border.btn-df--dark(href="#")
                span.btn-df__bg
                span.btn-df__name ОТПРАВИТЬ ЗАПРОС
        //- End heading
    //- End container