section.section.section--white.why-us
    .container
        .section-heading.section-heading--inline-justify
            .section-heading__wrapper
                h2.section-heading__title.section-heading__title--black Почему мы?
                p.section-heading__desc Мы верим, что красота рождает красоту

            a.btn-df.btn-df--border.btn-df--dark(href="#")
                span.btn-df__bg
                span.btn-df__name ОТПРАВИТЬ ЗАПРОС
        //- End heading

        .why-us__inner
            .why-us__numbers
                .why-us__number-item.why-number
                    <svg class="why-number__whatter-word" viewBox="0 0 306 268" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.00001 1H303L3.00001 267H303" stroke="#DDDDDD" stroke-width="2"/>
                    </svg>
                    .why-number__inner
                        span.why-number__title Выполнено
                        span.why-number__number 40
                        span.why-number__title Объектов
                    //- End inner
                //- End item
                .why-us__number-item.why-number
                    .why-number__inner
                        span.why-number__title Более
                        span.why-number__number 7
                        span.why-number__title лет опыта
                    //- End inner
                //- End item
                .why-us__number-item.why-number
                    .why-number__inner
                        span.why-number__title Проекты в
                        span.why-number__number 21
                        span.why-number__title стран мира
                    //- End inner
                //- End item
            //- End numbers
            .why-us__adwards.why-adwards.border-block
                h5.why-adwards__title Победители конкурса Интерьер года 2019
                img.why-adwards__img(src="/assets/pics/adwards/adward.png", alt="alt")
            //- End adwards
            .why-us__items
                .why-us__item.icon-desc-item
                    <svg class="icon-desc-item__icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.50002 48.75L7.5 38.25H19.5L7.50002 48.75Z" fill="#E6340D"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5 31.5L20.9605 16.5H33L22.5148 31.5H10.5Z" fill="#333333"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.5 9.75L32.2188 0H44.25L37.5065 9.75H25.5Z" fill="#333333"/>
                        </g>
                        <defs>
                        <clipPath id="clip0">
                        <rect width="48" height="48" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                    h6.icon-desc-item__title Креативность и уникальность
                    p.icon-desc-item__desc каждого проекта
                //- End item
                .why-us__item.icon-desc-item
                    <svg class="icon-desc-item__icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.8316 15L27.822 1.5L23.625 1.5L23.625 12L25.6219 15L36.8316 15Z" fill="#E6340D"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5893 15L19.5988 1.5L23.625 1.5L23.625 12L21.799 15L10.5893 15Z" fill="#333333"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.6986 10.2647L3.12213 14.52L1.3546 19.8313L4.74969 23.7255L15.1708 20.8654L18.6986 10.2647Z" fill="#333333"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4897 35.1298L0.58501 22.3439L1.99559 18.1042L6.99591 15.4424L14.0171 24.5281L10.4897 35.1298Z" fill="#333333"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M24.0012 42.7548L36.0858 47.2982L40.6275 43.9948L40.1188 38.8352L29.9242 35.0883L23.9993 39.3803L24.0012 42.7548Z" fill="#E6340D"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M42.0834 26.25L42.7385 42.4644L39.1133 45.1009L33.4698 44.3548L33.0183 32.8429L42.0834 26.25Z" fill="#E6340D"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M29.4799 10.265L45.0564 14.5203L46.8239 19.8315L43.4288 23.7258L33.0077 20.8656L29.4799 10.265Z" fill="#E6340D"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M37.6888 35.1298L47.5935 22.3439L46.1829 18.1042L41.1826 15.4424L34.1615 24.5281L37.6888 35.1298Z" fill="#E6340D"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.9988 42.7546L12.0927 47.2983L7.55106 43.9949L8.05978 38.8353L18.2543 35.0883L24.0007 39.3802L23.9988 42.7546Z" fill="#333333"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.09518 26.25L5.44006 42.4644L9.0652 45.1009L14.7088 44.3548L15.1603 32.8429L6.09518 26.25Z" fill="#333333"/>
                        </g>
                        <defs>
                        <clipPath id="clip0">
                        <rect width="48" height="48" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                    h6.icon-desc-item__title Уникальный опыт
                    p.icon-desc-item__desc позволяет создавать уникальный дизайн, и предусматривать все возможные последствия решений в проекте
                //- End item
                .why-us__item.icon-desc-item
                    <svg class="icon-desc-item__icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.02679 16.9433L17.7864 2.25H29.0191L19.2365 16.9433H8.02679Z" fill="#333333"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M38.8581 16.9433L29.0985 2.25H17.8657L27.6484 16.9433H38.8581Z" fill="#333333"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0136108 31.3826L6.13632 22.1416H37.4823V31.3826H0.0136108Z" fill="#333333"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M47.7849 31.3824L41.6621 22.1414H10.3162V31.3824H47.7849Z" fill="#333333"/>
                        <rect x="1.15833" y="36.592" width="45.4803" height="9.15787" fill="#E6340D"/>
                    </svg>
                    h6.icon-desc-item__title Архитектурный подход
                    p.icon-desc-item__desc к организации пространства – мыслим реальными конструкциями и формами, а не декорируем то что есть
                //- End item
                .why-us__item.icon-desc-item
                    <svg class="icon-desc-item__icon" width="48" height="43" viewBox="0 0 48 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect y="19.25" width="47.25" height="9" fill="#333333"/>
                        <rect y="33.5" width="47.25" height="9" fill="#333333"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.02679 15.1933L17.7864 0.5H29.0191L19.2365 15.1933H8.02679Z" fill="#E6340D"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M38.8581 15.1933L29.0985 0.5H17.8657L27.6484 15.1933H38.8581Z" fill="#E6340D"/>
                    </svg>
                    h6.icon-desc-item__title Бизнес ориентированность
                    p.icon-desc-item__desc глубоко понимаем что нужно вашему бизнесу и предлагаем лучшие решения
                //- End item
                .why-us__item.icon-desc-item
                    <svg class="icon-desc-item__icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 5.25C26.9599 5.25 29.8777 5.95074 32.5148 7.29489C35.1519 8.63905 37.4333 10.5884 39.1723 12.9835C40.9114 15.3787 42.0587 18.1515 42.5205 21.0751C42.9822 23.9988 42.7452 26.9902 41.8289 29.8047C40.9125 32.6192 39.3429 35.1767 37.2484 37.2681C35.1539 39.3595 32.594 40.9253 29.7781 41.8375C26.9623 42.7496 23.9705 42.9822 21.0476 42.5161C18.1246 42.05 15.3535 40.8986 12.961 39.1559" stroke="#333333" stroke-width="10"/>
                        <path d="M13.6356 8.37499C9.88074 10.8657 7.14838 14.6252 5.93855 18.9655C4.72871 23.3058 5.1223 27.9366 7.0473 32.0105" stroke="#E6340D" stroke-width="10"/>
                    </svg>
                    h6.icon-desc-item__title Комплексный подход
                    p.icon-desc-item__desc от проектирования до реализации
                //- End item
            //- End items
        //- End inner
    //- End container