section.section.section--dark.your-object
    .section-heading.section-heading--centered
        p.section-heading__desc.section-heading__desc--top.section-heading__desc--light-gray Сделай первый шаг к реализации Вашего интерьера
        h2.section-heading__title Какой у Вас обьект?
    //- End heading

    .your-object__items
        .swiper-container
            .swiper-wrapper
                .swiper-slide.item-hover-btn.your-object__item
                    .item-hover-btn__img-wr
                        img.item-hover-btn__img(src="/assets/pics/your-objects/1.jpg", alt="alt")
                    .item-hover-btn__content
                        h5.item-hover-btn__title Архитектура
                        a.item-hover-btn__btn.btn-df.btn-df--border.btn-df--white(href="/")
                            span.btn-df__bg
                            span.btn-df__name ПРОДОЛЖИТЬ
                        //- End button
                    //- End content
                //- End item
                .swiper-slide.item-hover-btn.your-object__item
                    .item-hover-btn__img-wr
                        img.item-hover-btn__img(src="/assets/pics/your-objects/2.jpg", alt="alt")
                    .item-hover-btn__content
                        h5.item-hover-btn__title Коммерческий интерьер
                        a.item-hover-btn__btn.btn-df.btn-df--border.btn-df--white(href="/")
                            span.btn-df__bg
                            span.btn-df__name ПРОДОЛЖИТЬ
                        //- End button
                    //- End content
                //- End item
                .swiper-slide.item-hover-btn.your-object__item
                    .item-hover-btn__img-wr
                        img.item-hover-btn__img(src="/assets/pics/your-objects/3.jpg", alt="alt")
                    .item-hover-btn__content
                        h5.item-hover-btn__title Жилой Интерьер
                        a.item-hover-btn__btn.btn-df.btn-df--border.btn-df--white(href="/")
                            span.btn-df__bg
                            span.btn-df__name ПРОДОЛЖИТЬ
                        //- End button
                    //- End content
                //- End item
            //- End wrapper
        //- End container
    //- End items