$imgnavigation-color: $lightGray;
$imgnavigation-color--hover: $accent;

.img-navigation {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $imgnavigation-color;
    @include df-transition;
    position: relative;
    background: transparent;
    border: none;
    outline: none;

    &::before {
        @include pseudo;
        @include push--middle;
        height: 2px;
        width: 80px;
        background: $imgnavigation-color;
        @include df-transition;
    }

    &--prev {
        padding-left: 100px;

        &::before {
            left: 0;
        }
    }

    &--next {
        padding-right: 100px;
        
        &::before {
            right: 0;
        }
    }
}

.img-navigation:hover {
    color: $imgnavigation-color--hover;
    cursor: pointer;

    &::before {
        background: $imgnavigation-color--hover;
    }
}