.item {
    &__image-wrapper {
        position: relative;
        width: 100%;
        padding-top: 60%;
        overflow: hidden;
    }

    &__img {
        @include push--center-middle;
        min-width: 100%;
        min-height: 100%;
    }

    &__title {
        margin-top: 40px;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: $white;
        @include df-transition;
    }

    &__desc {
        display: block;
        margin-top: 15px;
        font-size: 18px;
        line-height: 27px;
        color: $lightGray;
    }
}

.item:hover {
    .item__title {
        color: $accent;
    }
}