.item {
    &__image-wrapper {
        position: relative;
        width: 100%;
        padding-top: 60%;
        overflow: hidden;
    }

    &__img {
        @include push--center-middle;
        min-width: 100%;
        min-height: 100%;
    }

    &__title {
        margin-top: 40px;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: $white;
        @include df-transition;
    }

    &__desc {
        display: block;
        margin-top: 15px;
        font-size: 18px;
        line-height: 27px;
        color: $lightGray;
    }

    // Whatter line
    &__whatter-word {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &::before, &::after {
            @include pseudo;
            left: 0;
            width: 100%;
            height: 3px;
            opacity: 0;
            @include df-transition;
        }

        &::before {
            top: 0px;
            background: $accent;
        }

        &::after {
            bottom: 0px;
            background: $white;
        }
    }

    &__whatter-word-diagonal {
        position: absolute;
        width: 60%;
        height: 3px;
        opacity: 0;
        @include df-transition;

        &--first {
            left: 0;
            bottom: 0;
            background: $white;
            transform: rotate(-30.5deg) translate(14px, -78px);
        }

        &--second {
            right: 0;
            top: 0;
            background: $accent;
            transform: rotate(-30.5deg) translate(-14px, 78px);
        }

        &--first {
        }

        &--second {
        }
    }
    // End whatter line
}

// Modificators
.item--news {
    .item {
        &__image-wrapper {
            padding-top: 70%;
        }

        &__whatter-word-diagonal {
            &--first, &--second {
                width: 70%;
            }

            &--first {
                transform: rotate(-34.7deg) translate(14px, -101px);
            }

            &--second {
                transform: rotate(-34.7deg) translate(-14px, 101px);
            }
        }

        &__content {
            padding-right: 20px;
        }

        &__title {
            margin-top: 30px;
            text-transform: unset;
        }

        &__cat {
            margin-top: 30px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: $white;
            display: inline-block;
        }

        &__desc {
            margin-top: 30px;
        }
    }
}
// End modificators

.item:hover {
    .item__title {
        color: $accent;
    }

    .item__whatter-word {
        &::before, &::after {
            opacity: 1;
        }
    }

    .item__whatter-word-diagonal {
        opacity: 1;
        // width: 70%;
    }
}