$whyNumber-color: $accent;

.why-number {
    position: relative;
    color: $whyNumber-color;
    padding: 25px 0;

    &__whatter-word {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
    }

    &__inner {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 24px;
        line-height: 1;
    }

    &__number {
        margin: 20px 0 10px 0;
        font-family: $font--jost;
        font-weight: bold;
        font-size: 100px;
        line-height: 1;
    }
}