section.home-screen.section.section--dark
    .home-screen__bg.home-screen__bg--left
        img.home-screen__bg-img(src="/assets/pics/home-screen/about-page.jpg", alt="alt")
    .container.home-screen__container.home-screen__container--right
        .home-screen__content.home-screen__content--md
            h1.home-screen__title о компании
            p.home-screen__desc Не следует, однако забывать, что укрепление и развитие структуры способствует подготовки и реализации модели развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности требуют от нас анализа соответствующий условий активизации.
            .home-screen__btns
                a.home-screen__btn.btn-df.btn-df--white.btn-df--border(href="/")
                    span.btn-df__bg
                    span.btn-df__name ЗАКАЗАТЬ ПРОЕКТ
                a.home-screen__btn.btn-df.btn-df--transparent.btn-df--border(href="/")
                    span.btn-df__bg
                    span.btn-df__name ПОСМОТРЕТЬ ПРИМЕР
        //- End home screen content
    //- End container