section.section.section--white.mission
    .container.mission__container
        .mission__side.mission__side--content
            .section-heading
                h2.section-heading__title.section-heading__title--black Миcсия и планы
                .mission__heading-desc-btn
                    .section-heading__desc.mission__heading-desc Мы верим, что красота рождает красоту
                    a.section-heading__btn.btn-df.btn-df--border.btn-df--dark.mission__heading-btn(href="/")
                        span.btn-df__bg
                        span.btn-df__name ОТПРАВИТЬ ЗАПРОС
            //- End heading

            .mission__content-item.mission__content-item--z
                .mission__whatter-word
                    <svg class="mission__whatter-word-icon" width="306" height="268" viewBox="0 0 306 268" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.00001 1H303L3.00001 267H303" stroke="#DDDDDD" stroke-width="2"/>
                    </svg>
                .mission__content-item-inner
                    h6.mission__item-title Наша цель
                    .mission__item-content
                        p бросать вызов,<br> действовать оперативно<br> и предлагать широкий спектр  услуг, быть ведущим разработчиком и поставщиком
            //- End Z item

            .mission__content-item
                h6.mission__item-title Индивидуальность
                .mission__item-content
                    p Мы не используем ничего шаблонного и универсального, каждый проект индивидуален и создается как целостная композиция из вкусов
            //- End content item
            
            .mission__content-item
                h6.mission__item-title Мы очень любим то, что мы делаем
                .mission__item-content
                    p И делаем это действительно хорошо!
            //- End content item
        //- End content side
        .mission__side.mission__side--slider
            .swiper-container.mission__slider-container#missionSlider
                .swiper-wrapper.mission__slider-wrapper
                    .swiper-slide.mission__slider-slide
                        .mission__slider-img-wr
                            img.mission__slider-img(src="/assets/pics/about-mission/slide.jpg", alt="alt")
                    .swiper-slide.mission__slider-slide
                        .mission__slider-img-wr
                            img.mission__slider-img(src="/assets/pics/about-mission/slide2.jpg", alt="alt")
                    .swiper-slide.mission__slider-slide
                        .mission__slider-img-wr
                            img.mission__slider-img(src="/assets/pics/about-mission/slide3.jpg", alt="alt")
                    .swiper-slide.mission__slider-slide
                        .mission__slider-img-wr
                            img.mission__slider-img(src="/assets/pics/about-mission/slide4.jpg", alt="alt")
                //- End slider wrapper
            //- End slider container

            .mission__slider-controls.img-slider-controls
                button.img-slider-controls__navigation.img-navigation.img-navigation--prev#missionSliderPrev Предыдущий
                .img-slider-controls__navigation.img-navigation#missionSliderNavigation Nav
                button.img-slider-controls__navigation.img-navigation.img-navigation--next#missionSliderPrev Следующая
            //- End slider controls
        //- End slider side
    //- End container