.portfolio {
    &__tabs {
        margin-top: 60px;
        display: flex;
        gap: 150px;
    }

    &__items-wr-container {
        margin-top: 80px;
    }

    &__items-wr {
        overflow: visible;
    }
}